* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Gilroy-medium;
}
html,
body {
  height: 100%;
  width: 100%;
}
/*NAV-SECTION*/
nav {
  height: 6.6vw;
  width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5vh 6vw;
  position: fixed;
  top: 0;
  z-index: 2;
}
nav h1 {
  font-size: 1.7vw;
  font-family: Gilroy-Bold;
  text-transform: uppercase;
}
#nav-2nd-sec {
  display: flex;
  align-items: start;
  gap: 2vw;
  position: relative;
  padding: 1vh 0;
}
#nav-2nd-sec h4 {
  font-size: 0.9vw;
  margin-bottom: 2vh;
  text-transform: uppercase;
  font-family: Gilroy-semibold;
}
#nav-2nd-sec h5 {
  display: none;
  overflow: hidden;
  padding: 0.4vw 0;
  text-align: right;
  font-size: 0.9vw;
}

#nav-2nd-sec h5 span {
  font-size: 0.8vw;
  transform: translateY(25px);
  display: inline-block;
  font-family: Gilroy-light;
}
#nav-bottom {
  position: absolute;
  width: 86%;
  height: 0;
  top: 100%;
  border-bottom: 3px solid rgb(82, 73, 73);
  background-color: #111111;
  z-index: -1;
}
nav button {
  background-color: #0da34e;
  border: transparent;
  font-size: 1.1rem;
  padding: 13px 15px;
  align-self: center;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button:hover {
  background-color: black;
}
nav button svg {
  height: 2vh;
  margin-left: 1.8vw;
  transition: all 0.6s ease;
}
nav button:hover svg {
  background-color: #0da34e;
  border-radius: 50%;
  padding: 10px;
  height: 4vh;
}
/*PAGE-1*/
#page-1 {
  height: 105vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  position: relative;
}
#page-1 h1 {
  font-size: 17vh;
  font-family: gilroy-bold;
  line-height: 1.05;
  text-align: center;
  letter-spacing: 0.01em;
  transition: all 0.1s;
}
#page-1 h1 span svg {
  height: 6.5vw;
  width: 6.5vw;
  background-color: #0da34e;
  border-radius: 50%;
  padding: 1.9rem;
  transition: all 0.3s ease-in;
}
#page-1 h1 span:hover svg {
  height: 5.6vw;
  width: 5.6vw;
  padding: 1.55rem;
  transform: rotateZ(-30deg);
}
#page-1 p {
  margin: 2vw 0 0.4vw;
  width: 37vw;
  text-align: center;
  font-size: 1.28vw;
  font-family: Gilroy-light;
  line-height: 1.3;
}
#page-1 div {
  margin-top: 0.2vw;
}
#page-1 div span {
  border: 0.7px solid #666;
  font-family: Gilroy-light;
  font-size: 1.2vw;
  padding: 0.5vw;
  border-radius: 20px;
}
#page-1 div span:nth-child(3) {
  border: transparent;
  padding: 0.1vw 0;
}
#page-1 #moving-div {
  position: absolute;
  bottom: 5%;
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  padding: 1vh;
}
.move {
  display: inline-block;
  animation: imgMove 15s infinite linear 0s;
}
.move img {
  height: 1.05vw;
  margin-inline: 1vw;
}
@keyframes imgMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#blur-left {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to left, transparent, #111111);
  z-index: 2;
}
#blur-right {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to right, transparent, #111111);
  z-index: 2;
}
/*PAGE-2*/
#page-2 {
  height: 90vh;
  width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  padding: 1vh 10vh;
  border-top: 1px solid #333;
}
#page-2-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh;
  padding-bottom: 26vh;
}
#page-2-left p {
  font-size: 0.95vw;
  font-family: gilroy-light;
  line-height: 1.2;
  padding: 1vw;
}
#page-2-left h5 {
  font-size: 1.15vw;
  font-family: gilroy-light;
  width: 70%;
  padding: 1vw;
}
#page-2-right {
  width: 50%;
}
.r-elem {
  border-bottom: 1px solid #333;
  padding-top: 1.6vw;
  padding-bottom: 4.5vw;
  position: relative;
}
.r-elem h2 {
  position: relative;/*VERY IMP*/
  font-size: 1.5vw;
  font-family: gilroy-light;
  z-index: 1;
}
.r-elem img {
  position: absolute;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  scale: 0; 
  z-index: 0;
}
#page-2-right .r-elem:last-child {
  border-bottom: transparent;
}
.r-elem h5 {
  color: #666;
  font-family: gilroy-light;
  font-size: 0.96vw;
  position: absolute;
  right: 5vw;
  top: 2vw;
}
.r-elem i {
  font-size: 1.4vw;
  color: #fff;
  position: absolute;
  right: 2vw;
  top: 2vw;
  font-family: gilroy-light;
}
